_targets/
.Rproj.user
.Rhistory
.RData
.Rcache/
fits/
.vscode/
.DS_Store
**.rds
fits/
/.quarto/
_output/
**.Rproj
**.png
figures/*.csv
derived/

#dont ignore static figuress
!figures/static/
_archive/